@{
    //success messages
    var successMessages = new List<string>();
    if (TempData[string.Format("spc.notifications.{0}", OpticalShop.Infrastructure.NotifyType.Success)] != null)
    {
        successMessages.AddRange(TempData[string.Format("spc.notifications.{0}", OpticalShop.Infrastructure.NotifyType.Success)] as IList<string>);
    }
    if (ViewData[string.Format("spc.notifications.{0}", OpticalShop.Infrastructure.NotifyType.Success)] != null)
    {
        successMessages.AddRange(ViewData[string.Format("spc.notifications.{0}", OpticalShop.Infrastructure.NotifyType.Success)] as IList<string>);
    }


    //error messages
    var errorMessages = new List<string>();
    if (TempData[string.Format("spc.notifications.{0}", OpticalShop.Infrastructure.NotifyType.Error)] != null)
    {
        errorMessages.AddRange(TempData[string.Format("spc.notifications.{0}", OpticalShop.Infrastructure.NotifyType.Error)] as IList<string>);
    }
    if (ViewData[string.Format("spc.notifications.{0}", OpticalShop.Infrastructure.NotifyType.Error)] != null)
    {
        errorMessages.AddRange(ViewData[string.Format("spc.notifications.{0}", OpticalShop.Infrastructure.NotifyType.Error)] as IList<string>);
    }
}

@if (successMessages.Count > 0)
{

    @:<div class="validation-summary-success"><ul>
 }

@foreach (var message in successMessages)
{
    <li>@message</li>
}

@if (successMessages.Count > 0)
{
    @:</ul></div>
 }


@if (errorMessages.Count > 0)
{
    @:<div class="validation-summary-errors"> <ul>
 }

@foreach (var message in errorMessages)
{
    <li>@message</li>
}

@if (errorMessages.Count > 0)
{
    @:</ul></div>
}
